[flake8]
# 88 is a default max line length for black.
max-line-length = 88
# E203: Whitespace before ":" is PEP8-compatible and used by black for slices.
# E266: Allow #### style comments.
# E731: Allow lambda expressions.
extend-ignore=E203,E266,E731
